OPENAI_API_KEY=your_openai_api_key_here
DEEPGRAM_API_KEY=your_deepgram_api_key_here
CARTESIA_API_KEY=your_cartesia_api_key_here
SARVAM_API_KEY=your_sarvam_api_key_here
PLIVO_AUTH_ID=your_plivo_auth_id_here
PLIVO_AUTH_TOKEN=your_plivo_auth_token_here

# Plivo Phone Numbers
PLIVO_CALLER_NUMBER=your_plivo_caller_number_here
CUSTOMER_NUMBER=your_customer_number_here

# Zoho Order Status API
ZOHO_ORDER_API_URL=your_zoho_order_api_url_here
ZOHO_API_PUBLIC_KEY=your_zoho_api_public_key_here

# Environment configuration
ENV=local
AGENT_NAME=plivo-chatbot-dial-in
ORGANIZATION_NAME=
